apiVersion: v1
kind: Config
clusters:
- name: minikube
  cluster:
    certificate-authority: /root/.minikube/ca.crt
    server: https://127.0.0.1:32786
    insecure-skip-tls-verify: false

contexts:
- name: minikube.
  context:
    cluster: minikube
    user: minikube

current-context: minikube

users:
- name: minikube
  user:
    client-certificate: /root/.minikube/profiles/minikube/client.crt
    client-key: /root/.minikube/profiles/minikube/client.key
